.backgrounda{
  background-image: url('../../images/aboutusa.jpg');
  height: 300px;
  background-size: cover;
  margin-top: 100px;
}
.aboutname {
  padding: 5%;
  color: rgb(0, 131, 238);
  font-size: 80px;
  font-weight: bold;
  -webkit-text-stroke: 2px white;
  height: 100px;
}
.peoplep{
  margin-top:40px;
  margin-left: 100px;
  font-size: 50px;
  margin-bottom: 100px;
  color: #e23cd4;  
}

.peoplepa{
  text-align: left;
  margin-left: -50px;
}
.peoplepb{
  text-align: left;
  margin-left: 100px;
}
.abouta{
  margin-left: 350px;
  margin-top:-223px;
  margin-right: 200px;
  width: 260px;
  font-size: 50px;
  color: #e23cd4;
}
.taxs{
  margin-top: 150px;
  font-size: 40px;
  line-height: .88889;
  color: #ff5405;
}
.readb{
  top: 100%; 
  text-align: center;
  height: 50px;
  border:none;
  border-color: rgb(193, 224, 252);
  background-color: #15f585;
  font-weight: bold;
  font-size: 25px;
  color: white;
  width: 200px;
}
.taxp{
  font-size: 20px;
  text-align: left;
}
.taximga{
  margin-top: 150px;
  width: 100%;
  height: 70%;
}
.bimg{
  margin-top: 200px;
  width:100%;
}
.backgroundb{
  background-image: url('../../images/consulatancy.jpg');
  height: 300px;
  width:100%;
  margin-top:900px;
  background-size: cover;
}
.backgroundw{
  background-image: url('../../images/whyus.jpg');
  opacity:0.9;
  z-index: 1;
  width:100%;
  margin-top:10%;
  background-size: cover;
}
.benifit{
  margin-top:-120%;
  position: relative;
  /* margin-top: -145%; */
  color: rgba(255, 255, 255, 0.9);
  background-color: #1e3953;
  padding: 5px -1px 155px -1px;
  margin-left: 14%;
}
.benifitp{
  margin-top:50px;
}
.benifita{
  color: #eb1f11; 
  margin-top: 26px;
}
.benifitp2{
  font-size: 22px;
  color: black;
  z-index: 2;
  opacity: 2.5;
  font-weight: bold;  
}
.p1{
  text-align: left;
  margin-top: 20px;
  font-weight: bold;
}
.paragraph{
  margin-top:50px;
  margin-left: 30px;
  color:black;
  font-size: 50px; 
  font-weight: bold;
}
.tmimg{
  width: 200px;
  height: 200px;    
}
.tmimg:hover{
  opacity:1;
  z-index: 1;
}
.teamc{
  margin-top:40px;
  margin-left: 30px;
  color: #e23cd4;  
}
.cardimgt{
  margin-top: 70px;
}
.dropdown 
{
	position: relative;
	display: inline-block;
}
.dropdown-content 
{
	display: none;
	position: absolute;
	z-index: 1;
	background-color:#1a1718;
  color: white;
  height: 35px;
  width: 50px;
  margin-top: 10px;
  margin-left:-1px;
  margin-right:10px;   
}
.dropdown:hover .dropdown-content
{
  display: block;
  height: 285px;
  width: 250px;
  margin-top: -285px;
  font-size: 22px;
  font-style: italic;   
  opacity:0.9;
  z-index: 1;
  margin-left: -30px;
}
.labeln{
  margin-top:100px;
  margin-left: 50px;
}
.labelp{
  margin-top:20px;
}
.emaili{
  width:30px;
  height: 30px;
  margin-top:10px;
  margin-right: -50px;
}
.phonei{
  width:30px;
  height: 30px;
  margin-top:10px;
  margin-left: -1px;
}
.peoplep1{
  border: #0a0911;
  border-style:solid;
}
.colorwp{
  color: rgb(57, 4, 204);
}

.imgp{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -100px;
  border-style: 0px solid;
}
.colorwp2{
  margin-top: -50px;
  margin-left: 40px;
}