.backgrounda{
    background-image: url('../../images/consulatancy.jpg');
    height: 300px;
    width:100%;
    background-size: cover;
}
.abouta{
    margin-left: 350px;
    margin-top:-283px;
    margin-right: 200px;
    background-color:#b0ade4;
    width: 260px;
    font-size: 50px;
    color: #e23cd4;
    border-radius: 50px 50px 50px 50px;
}
.taxs{
    margin-top: 300px;
    margin-left: 30px;
    color: #e23cd4
}
.readb{
    position: absolute; 
    top: 700px; 
    left: -100px; 
    height: 50px;
    border:none;
    border-radius: 20px;
    background-color: #7470b2;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 200px;
    color: aqua;
    
}
.taximg{
    margin-top: 350px;
    width: 500px;
    height: 300px;
}
.bimg{
    margin-top: 200px;
    width:100%;
}
.backgroundb{
    background-image: url('../../images/consulatancy.jpg');
    height: 300px;
    width:100%;
    margin-top:900px;
    background-size: cover;
}
.benifit{
    margin-left: 350px;
    margin-top:-618px;
    margin-right: 100px;
    background-color:#7470b2;
    margin-bottom: 300px;
}
.benifita{
   color: #e23cd4;
  
}
.p1{
    margin-left: 300px;
    text-align: left;
    margin-top: 20px;
}
.paragraph{
    margin-top:50px;
    margin-left: 30px;
    color: #e23cd4;
}
.tmimg{
    width: 200px;
    height: 200px;
}
/* .tmimg:hover{
  
} */
/* .cardimg{
    margin-top: 100px;
} */
.teamc{
    margin-top:40px;
    margin-left: 30px;
    color: #e23cd4;
}