.width{
  width: 200px;
  border-top:0px;
  border-left: 0px;
  border-right: 0px;
  margin-left: 18px;
}
.widthd{
  margin-left: 20px;
  width:160px;
}
.appth{
  background: url('../../images/serviceb.jpg');
  border:solid 1px white;
  background-position: center;
  background-size: cover;
  height: 200px;
  padding: 0;
  margin-top: 100px;
}
.apptname {
  padding: 5%;
  color: rgb(0, 131, 238);
  font-size: 80px;
  font-weight: bold;
  -webkit-text-stroke: 2px white;
  width: 400px;
  margin: 0;
  height: 100px;
  margin-top: 10px; 
}
.sendbta{
  margin-right: 100px;
  height: 40px;
  border-color: rgb(255, 254, 254);
  background-color: #ec792c;
  width: 80px; 
  margin-left: 200px;
  margin-bottom: 100px;
}
.resetbta{
  height: 40px;
  border-color: rgb(255, 254, 254);
  background-color: #ec792c;
  width: 80px; 
  margin-right: 100px;
  margin-bottom: 100px;
}
.formg{
  margin-top:100px;
  font-size: 50px;
  color: #00d7fd;
  margin-bottom: 50px;
  margin-left:100px; 
}
.date{
  margin-left: 100px;
}
.datet{
  margin-left: 60px;
}
.dateta{
  margin-left: 30px;
}
.backgroundci{
  background-image: url('../../images/serviceb.jpg');
  height: 200px;
  width:100%;
  background-size: cover;
  margin-top: 100px;
}
