.backgroundc{
  background-image: url('../../images/serviceb.jpg');
  height: 200px;
  width:100%;
  background-size: cover;
  margin-top: 100px;
  margin-left: 100px;
}
.custimg{
  width: 50px;
  height: 50px;
}
.contactpa{
  margin-top:-300px;
  color: rgb(0, 140, 255);
  font-size: 100px;
  margin-left: 530px;
}
.phoneimg{
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: 10px;
}
.cparagraph{
  margin-left: -30px;
}
.cparagrapha{
  margin-left: -70px;
}
.phoneimga{
  width: 50px;
  height: 50px;
  margin-top: 100px;
  margin-left: 10px;
}
.number{
  margin-left: -40px;
  margin-top: 60px;
}
.numbera{
  margin-left: -40px;
  margin-top: 130px;
}
.custp{
  margin-top:30px;
  text-align: left;
   
}
.custpa{
  margin-top:30px;
  text-align: left;
  margin-left: 200px;
  color: #e2473c;
  font-size: 30px;
}
.taxfind{
  margin-top: 180px;
  margin-left:-20px;
  color: #1900fd;
  text-align: left;   
  font-size: 50px; 
}
.emailp{
  color: green;
}
.taxhead{
  margin-top: 50px;
  margin-left: -20px;
  color: #e23cd4;
  text-align: left;
  font-size: 30px;   
}
.addrp{
  margin-left: -20px;
  text-align: left;
}
.country{
  font-size: 40px; 
  white-space: inherit;
  margin-left: 100px;
  color:#8a5dd3;
}
.form{
  margin-top:180px;
  font-size: 50px;
  color: #1a01f7;
  margin-bottom: 50px;
}
.sendbt{
  margin-right: 100px;
  height: 40px;
  border-color: rgb(255, 254, 254);
  background-color: #ec792c;
  width: 80px; 
}
.resetbt{
  height: 40px;
  border-color: rgb(255, 254, 254);
  background-color: #ec792c;
  width: 80px; 
}
.suptp{
  color: #e23cd4;
  font-size: 30px;
  margin-left: -350px;
  margin-top: 50px;
}
.widthc{
  width: 200px;
  border-top:0px;
  border-left: 0px;
  border-right: 0px;
  /* margin-left: 18px; */
}