footer
{
	background-color: #1a3153;
	height:100%;
	width:100%;
}
.aboutf
{
	color: white;
	font-size: 20px;
	margin-top:20%;
	padding-left:30%; 
}
.Quick_Links
{
	font-family: arial;
  color:white;
  padding-top: 10px;
	text-decoration: none;
	padding-left:30%; 
}

.enter_mail
{
	margin-top: 10px;
	height: 35px;
	width: 70%;
	background-color: white;
	border: 1px solid #ccc;
}
.pf{
	color: white;
	text-align:left;
}
.send
{
	height: 35px;
 	width: 27%;
  border: none;
	background-color: #2cff02;
	font-weight: bold;
	color: white;
}
.Follow
{
	color: white;
	font-size: 20px;
	position: relative;
  top: 20px;
}
.social
{
	height: 20px;
	width: 20px;
	padding-right: 0px;
	padding-top: 10px;
}
.social1
{
	height: 20px;
	width: 20px;
	padding-right: 10px;
	padding-top: 10px;
}
.footp{
	color: white;
}
.copyright
{
	color:white;
	text-align: center;
	margin-left: 120px;
}
.footcolor{
	margin-top:10px;
  height: 50px;
	background-color: #1a283a;
}
.icons{
	position: absolute;
}
.fac {
	padding: 20px;
	font-size: 10px;
	width: 1px;
	text-decoration: none;
	margin: 5px 2px;
}
.fa-facebook {
	color: white;
}
.fa-twitter {
	color: white;
}
.fa-linkedin {
	color: white;
}
.fa-instagram {
	color: white;
}
.App{
	text-align: left;
}