footer
{
	background-color: #1a3153;
	height: 400px;
	width:100%;
}
.footer{
  display: grid;
  grid-template-columns: 600px 200px 440px;
  grid-template-rows: 340px;
  grid-gap: 10px;
}
.fdiv1
{
  padding-left: 100px;
  padding-top: 130px;
  padding-right: 152px;
  font-size: 18px;
  color: #726f6f;
}
.aboutf
{
	color: white;
	font-size: 20px;
}
#Quick_Links
{
	font-family: arial;
  color:white;
  padding-top: 10px;
  text-decoration: none;
}

.fdiv2
{
	padding: 10px;
	margin-top: 130px;
	text-align: left;
}
.fdiv3
{
	padding: 10px;
	margin-top: 130px
}
/* .foot_a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background:green;
  color: white;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
} */
.enter_mail
{
	margin-top: 10px;
	height: 35px;
	width: 50%;
	padding-left:  10px;
	background-color: white;
	border: 1px solid #ccc;
}
.pf{
  color: white;
}
.send
{
	height: 35px;
 	width: 50px;
  border: none;
	background-color: #2cff02;
	font-weight: bold;
	color: white;
	margin-left: -5px;
}
.Follow
{
	color: white;
	font-size: 20px;
	position: relative;
  top: 20px;
}
.social
{
	height: 20px;
	width: 20px;
	padding-right: 0px;
	padding-top: 10px;
}
.social1
{
	height: 20px;
	width: 20px;
	padding-right: 10px;
	padding-top: 10px;
}
.copyright
{
	color: #0a0a0a;
	text-align: center;
	margin-left: 120px;
}
.footcolor{
	margin-top:10px;
  height: 50px;
	background-color: #1a283a;
}
.icons{
	position: absolute;
}
.fac {
	padding: 20px;
	font-size: 10px;
	width: 1px;
	text-decoration: none;
	margin: 5px 2px;
}
.fa-facebook {
	color: white;
}
.fa-twitter {
	color: white;
}
.fa-linkedin {
	color: white;
}
.fa-instagram {
	color: white;
}
