.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .navbar{
    height: 70px;
  }
  
  #logo
  {
    margin-top: -25px;
    margin-right: 1300px;
    /* font-size: 26px; */
    height: 20px;
    float: left;
  }
  #logoa
  {
    margin-top: -535px;
    margin-left: 1000px;
    
  }
  h4 { 
    position: absolute; 
    color: black;
    top: 20px; 
    margin-right: 400px;
    left: 0;
  
  }
  .font { 
    position: absolute; 
    color:black;
    top: 180px; 
    margin-right: 400px;
    left: 0; 
  }
  .makes 
  {
    position: absolute; 
    background-color:black;
    border-color:white;
    border-radius: 0px;
    top: 350px; 
    left: 250px; 
    height: 50px;
    font-weight: bold;
    color:#4c3ce2;
  }
  .style{
     font-size:20px;
  }
  .img{
    width: 100px;
    height: 50px;
  }
  .imga{
    height: 420px;
    margin-top:130px;
  }
  .service{
    color:purple;
    margin-top: -30px;
  }
  .serviceo{
    color:purple;
    margin-top: 100px;
  }
  .cimg{
   width: 300px;
   height: 200px;
  }
  .cimg:hover{
    width: 350px;
    height: 200px;
   }
  select{
    width: 200px;
    height:30px;
  }
  .mtop{
    margin-top: 50px;
  }
  .imgc{
      width: 500px;
      height: 400px;
      margin-top: -30px;
  }
  .formc{
    margin-top: 50px;
  }
  .about{
    height: 800px;
    background-image: url("../../images/hero-company.jpg");
    width: 1070px;
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-left: 70px;
    margin-right:100px;
  }
  .aboutp{
    text-align: left;
    margin-left: 40px;
  }  
  .aboutt{
    position: absolute;
    margin-top: 70px;
    color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    left: 560px;
    right: 350px;
    height: 500px;
    width: 550px;
    font-size: 1.1rem;
    background-color: #e81050;
    margin-bottom: 1.5rem;
  }
  .tbutton{
    margin-left: -200px;
  }
 .aboutus{
   font-size: 50px;
   color: #61dafb
 }
  .aptb{
    position: absolute; 
    background-color:black;
    /* border-color:green; */
    border-radius: 0px;
    /* top: 100px;  */
    left: 170px; 
    height: 50px;
    font-weight: bold;
    color:#4c3ce2;
  }
  
  .timg{
    width: 300px;
    height: 300px;
  }