#logo
{
  margin-top: -25px;
  margin-right: 100%;
  height: 20px;
  float: left;
}
#logoa{
  margin-top: -535px;
  margin-left: 1000px;  
}
h4 { 
  position: absolute; 
  color: black;
  top: 20px; 
  margin-right: 400px;
  left: 0;
}
.font { 
  position: absolute; 
  color:white;
  top: 30%; 
  font-size: 46px;
}
.fontp { 
  position: absolute; 
  color:white;
  top: 80%; 
  margin-left: 10%;
  font-size: 28px;
}
.makes {
  position: absolute; 
  border-color:white;
  border-radius: 0px;
  top: 350px; 
  left: 250px; 
  height: 50px;
  font-weight: bold;
  color:#4c3ce2;
}
.style{
  font-size:20px;
}
.imghome{
  height: 420px;
  background-size: cover;
  margin-top:130px;
}

.service{
  color:rgb(247, 0, 82);
  line-height: .88889;
  font-size: 50px;  
}
.serviceo{
  color:rgb(15, 179, 10);
  margin-top: 100px;
  font-size: 50px;
}
.cimg{
  width: 70%;
  height: 40%;
}
.servicepg{
  margin-top: 80px;
  font-size: 30px;
  color:rgb(128, 0, 70)
}
.servicep{
  margin-top: 60px;
  font-size: 30px;
  color:rgb(128, 0, 70)
}
.servicep2{
  margin-top: 60px;
  font-size: 25px;
  color:rgb(32, 5, 128)
}
.servicep3{
  margin-top: 50px;
  font-size: 20px;
}
.cimg:hover{
  width: 90%;
  height: 60%;
}
select{
  width: 200px;
  height:30px;
}

.imgc{
  width: 100%;
  height: 300px;
  margin-top: 40%;
}
.formc{
  margin-top: 50px;
}
.about{
  height: 800px;
  background-image: url("../../images/home-6.png");
  background-repeat: no-repeat;
  margin-top: 10%;
}
.aboutp{
  text-align: left;
  margin-left: 40px;
} 
.aboutp1 {
  text-align: left;
  margin-top: 5%;
}
.aboutt{
  position: relative;
  margin-top: -145%;
  color: rgba(255, 255, 255, 0.9);
  background-color: #1e3953;
  padding: 75px 60px 155px 54px;
  margin-left: 14%;
}
.tbutton{
  margin-left: -300px;
  margin-top: 20px;
}
.aboutus{
  font-size: 50px;
  color: #61dafb;
  text-align: left;
  line-height: .88889;
  font-weight: 700;
}
.aptb{
  position: absolute; 
  border-radius: 0px;
  left: 18%; 
  height: 50px;
  top:70%;
  font-weight: bold;
  color:white;
  border-color: white;
  background-color: #1e3953;
}
.aptb:hover{
  background-color: rgb(24, 240, 53);
}
.aptbs{
  position: absolute; 
  border-radius: 0px;
  margin-left:-30%;
  height: 10%;
  font-weight: bold;
  color:white;
  margin-top:-100px;
  background-color: #1e3953;
  border-color: white;
}
.aptbs:hover{
  background-color: rgb(24, 240, 53);
}
.timg{
  width: 70%;
  height: 30%;
}
.result{
  margin-right: 204px;
  margin-left: -118px;
  margin-top: 32px;
  border-top:0px;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
}
.mtopa{
  margin-top: 30px;
}
.row1{
  display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
}