.backgrounds{
    background-image: url('../../images/serviceb.jpg');
    height: 300px;
    width:100%;
    background-size: cover;
    margin-top: 100px;
}
.servicepa{
    margin-top:-300px;
    color: rgb(0, 140, 255);
    font-size: 150px;
    margin-left: 530px;
    background-color: #ff0062;
}
.expert{
    margin-top: 18%;
    font-size: 70px;
    color: #102fdb;
    line-height: .88889;
}
.expertimg{
    margin-top: 32%;
    width: 100%;
    height: 300px;
    /* margin-left: 800px; */
}
.reade{
    position: absolute; 
    top: 87%; 
    left: 20%; 
    height: 50px;
    border:none;
    border-color: rgb(255, 254, 254);
    background-color: #2cec8c;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    color:white;
}
.ourch{
    background-color:#1a283a;
    color: white;
    margin-top: 10%;
    padding: 100px;
    
}
.ourchpa{
    font-size: 53px;
}
.logoi{
    width: 150px;
    height: 100px;
    margin-top: 50px;
}
.logoi:hover{
    width:160px;
    height: 110px;
}
.logop{
    color: #ff2802;
    margin-top:30px;
    font-size: 25px;
}
.ausp1{
    margin-top:60px;
}
.ausp{
    margin-top:22px;
}

.servp{
    text-align: left;
    margin-left: 100px;
    margin-top:20px;
}
.servph{
    margin-top: 20px;
   text-align: left;
   margin-left: 100px;
}
.taxus{
    margin-top: 100px;
    margin-left: 30px;
    color: #f80000
}
.backgroundcolor{
    background-color: #2cec65;
}
.cimgs{
    width: 300px;
    height: 200px;
}
.servicesp{
    margin-top: 60px;
    font-size: 27px;
    color:rgb(128, 0, 70)
  }
